*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.btn{    
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
}

/* Font Styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Navbar Styles */
.navbar{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
