*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.btn{    
    background-color: #469165;
    padding: 12px 16px;
    border-radius: 4px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.btn:hover{
    background-color: #F95555;
    transition: 0.5s;
}

/* Font Styles */

.font-inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Navbar Styles */
.navbar{
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.navbar ul{
    display: flex;
    align-items: center;
    gap: 35px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

/* Hero Section Styles */
.hero-section{
    max-width: 85%;
    margin: 0 auto;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 115px 120px 180px;
    text-align: center;
}

.hero-container{
    max-width: 1360px;
    padding: 0 250px;
}
.hero-sub-title{
    max-width: 230px;
    margin: 0 auto;
    background-color: white;
    border-radius: 100px;
    padding: 8px 12px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.hero-container h1{
    font-size: 72px;
    font-weight: 700;
    color: white;
    
}

.hero-container h1 span{
    color: #469165;
}

.hero-container p{
    font-size: 18px;
    color: white;
    line-height: 24px;
    margin: 16px 0 32px;
    
}
.hero-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.hero-container .secondary-btn{
    background: none;
    border: 1px solid white;
}
.hero-container .secondary-btn:hover{
    background-color: #469165;
   
}

/* Structure Section Styles */
.structure-section{
    background-color: #F7F6F2;
}
.structure-container{
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
.structure-container h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.structure-container p{
    font-size: 16px;    
    color: #627382;
    line-height: 20px;
    margin-top: 15px;
}
.card-container{    
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;
    
}
.card-item{
    background-color: white;
    padding: 65px 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card-item img{
    background-color: #F95555;
    padding: 14px;   
    border-radius: 50%;
    margin-bottom: 15px;
}
.card-item h4{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
}
.card-item p{
    font-size: 16px;
    color: #627382;
}